#nameLogo:hover {
  cursor: context-menu;
}

.menuRibbon:hover {
  cursor: pointer;
}

#header:hover {
  cursor: context-menu;
}

.toolbarButton-active {
  margin-bottom: 5px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 23px;
}

.toolbarButton-active:hover {
  cursor: context-menu;
}

.toolbarButton-inactive {
  margin-bottom: 5px;
  text-align: center;
  background-color: white;
  padding: 10px;
  font-size: 23px;
}

.toolbarButton-inactive:hover {
  cursor: pointer;
}

.buttonLinks {
  padding: 5px;
  font-size: 35px;
  background-color: #2ea113;
  color: white;
}
