li img {
	height: 50px;
}

nav {
	background-color: #fff;
	box-shadow: 0 0 0;
	overflow: none;
	position: static;
}

nav ul a{
	color: #00274c;
}

nav ul li{
	float: none;
	font-size: 20px;
	margin: 5px 5px;
}

a {
	color: #00274c;
}

ul {
	position: static;
	display: flex;
	flex-wrap: wrap;
}

.links {
	width: 90%;
	margin: 0 auto;
	position: relative;
	overflow: none;
}

.links h3{
	color: #00274c;

}

.email {
	width: 90%;
	margin: 5px auto;
}

.email a{
	font-size: 20px;
}