body {
	background-color: #e8e8e8;
	margin: 0px;
}

#nameRing {
	position: fixed;
	left: 0;
	height: 167px;
	width: 167px;
	margin: 20px;
	margin-top: 20px;
	border: 5px solid #3f6797;
	border-radius: 50%;
	background-color: #e8e8e8;
	z-index: -2;
}

#firstName {
	padding-top: 10px;
}

#rightNavBar {
	position: fixed;
	right: 0;
	width: 200px;
	margin-right: 10px;
	margin-top: 20px;
	background-color: #3f6797;
	border-radius: 15px;
	z-index: 5;
}

#pic {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

#rightNavBar h2 {
	text-align: center;
	font-family: Century Gothic;
	color: #e8e8e8;
	border-top: 2px solid #e8e8e8;
	border-bottom: 2px solid #e8e8e8;
	padding: 5px;
}

.contactInfo {
	font-weight: bold;
	font-family: century gothic;
	color: #e8e8e8;
	text-align: center;
	margin-top: 2px;
}


ul {
	list-style-type: none;
	margin-top: 20px;
	text-align: left;
	padding: 0px;
	text-indent: 35px;
}

li a {
	text-decoration: none;
	font-weight: bold;
	font-family: century gothic;
	color: #e8e8e8;
	margin: 10px;
}

#githubIcon {
	width: 20px;
}

#stackOverflowIcon {
	width: 20px;
}

#linkedInIcon {
	width: 20px;
}

#aboutText {
	margin-left: 200px;
	margin-right: 220px;
	margin-top: 0px;
	padding-top: 100px;
	font-family: 'Lato', sans-serif;
}