#nameBorder {
	position: fixed;
	top: 25px;
	left: 25px;
	z-index: 3;
	background-color: #3f6797;
	border-radius: 50%;
	width: 157px;
	height: 157px;
	overflow: hidden;
	border: 5px solid #e8e8e8;
	padding: 0px;
}

.name {
	margin: auto;
	margin-bottom: auto;
	font-size: 45px;
	padding: 3px;
	text-align: left;
	color:#e8e8e8;
	font-family: "Copperplate Gothic Light";
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 59px;

}

#leftNavBar {
	position: fixed;
	left: 0;
	width: 140px;
	height: 100%;
	background-color: #3f6797;
	z-index: 2;
}

#titleBar {
	position: fixed;
	top: 60px;
	left: 50px;
	z-index: 0;
	width: 90%;
	margin: 0px;
	border: 5px solid #3f6797;
	border-left: 0px;
	border-right: 0px;
	background-color: #e8e8e8;
}

#titleBar h1 {
	margin: 0px;
	padding-left: 140px;
	font-family: Century Gothic;
	color: #3f6797;
}

#leftNavBar table {
	margin-top: 220px;
	margin-left: 20px;
}

.navText {
	text-align: right;
	color: #e8e8e8;
	font-family: Century Gothic;
}

.buttonBorder {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #e8e8e8;
	position: relative;
	z-index: 1;
}

.pageButton {
	width: 46px;
	height: 46px;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
}

#aboutButton{
	background-color: #3f6797;
	transition: .1s;
}

#aboutButton:hover {
	margin-top: 1px;
	margin-left: 1px;
	width: 50px;
	height: 50px;
}

#aboutButton:active {
	transform: rotateY(180deg);	
}

#portfolioButton{
	background-color: #27ae60;
	transition: .1s;
}

#portfolioButton:hover {
	margin-top: 1px;
	margin-left: 1px;
	width: 50px;
	height: 50px;
}

#portfolioButton:active {
	transform: rotateY(180deg);
}

#portfolioButton:active + .name{
	background-color: #27ae60;
}

#resumeButton{
	background-color: #e67e22;
	transition: .1s;
}

#resumeButton:hover {
	margin-top: 1px;
	margin-left: 1px;
	width: 50px;
	height: 50px;
}

#resumeButton:active {
	transform: rotateY(180deg);
}