body  {
	overflow: hidden;
}

.startHeader {
	width: 100%;
	height: 100px;
	margin: 0;

	display: flex;
	align-items: center;

	background-color: #00274c;
	transition: 1s;
}

.nameBorder {
	position: absolute;

	left: 10px;

	border: 1px solid white;
	border-radius: 15px;

	box-shadow: inset 2px 2px 2px black;
	background-color: #fff;

	margin: 0 auto;
}

.nameTitle {

	color: white;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;

	border: 3px solid white;
	border-radius: 10px;

	margin: 3px;

	padding-left: 5px;
	padding-right: 5px;
	
	box-shadow:  2px 2px 2px black;
	background-color: #00274c;

	cursor: pointer;

	/*transition: 1s;*/
}

.nameTitle:active {
	-ms-transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
    transform: translate(2px, 2px);

	box-shadow:  0px 0px 0px white;
}

.headerDiv {
	position: absolute;
	right: 0px;
	height: 100px;
	width: 0px;
	justify-content: flex-start;
	align-items: center;
	font-size: 30px;

	/*border-left: 3px solid white;*/
	box-shadow: -1px -2px 3px black;

	transition: 250ms;
	color: white;
	font-family: 'Lato', sans-serif;
	padding-left: 10px;
	/*padding-top: 6px;*/
	background: #00274c;
	background: -o-linear-gradient(right, #00274c, white);
	background: -webkit-linear-gradient(left, #00274c, white);
	background: -moz-linear-gradient(right, #00274c, white);
	background: linear-gradient(right, #00274c, white);
}

.hide {
	display: none;
}

.aboutDiv {
	z-index: 1;
	width: 70%;
}

.aboutDiv:hover {
	cursor: pointer;
	text-shadow: 0 0 5px #FFFFCC;
}

.resumeDiv {
	z-index: 2;
	width: 55%;
}

.resumeDiv:hover {
	cursor: pointer;
	text-shadow: 0 0 5px #FFFFCC;
}

.portfolioDiv {
	z-index: 3;
	width: 40%;
}

.contactDiv {
	z-index: 4;
	width: 25%;
}

.contactDiv:hover {
	cursor: pointer;
	text-shadow: 0 0 5px #FFFFCC;
}

.current {
	background: -o-linear-gradient(right, #00274c, #FFFFCC);
	background: -webkit-linear-gradient(left, #00274c, #FFFFCC);
	background: -moz-linear-gradient(right, #00274c, #FFFFCC);
	background: linear-gradient(right, #00274c, #FFFFCC);
	color: #FFFFCC;
}

#container {
	display: flex;
	position: fixed;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
	max-height: calc(92% - 100px);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
}

.mainBorder {
	border: 3px solid #00274c;
	border-radius: 15px;
	padding: 5px;
	width: 80%;
	height: 100%;
}

.mainContainer {
	border: 5px solid #00274c;
	border-radius: 10px;
	padding: 5px;
	
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.mainContainer h2 {
	color: #00274c;
}

.mainContainer p {
	font-size: 18px;
	color: #00274c;
}

.selfie {
	float: right;
}

.stickyFoot {
	clear: both;
	height: 8%;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #00274c;
	color: #FFFFCC;
	transition: 1s;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

a:hover {
	text-decoration: none;
	color: white;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.frame {
	position: relative;
	height: 200px;
	width: 300px;
	overflow: hidden;
	margin-bottom: 20px;
	border: 2px solid #00274c;
	border-radius: 5px;
	padding: 0;
}

.frame p{
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #00274c;
	color: #FFFFCC;
	top: 140px;
	padding: 5px;
	font-size: 15px;
}

#gameofhangman{
	height: 200px;
}

#triviagame{
	height: 200px;
}

.gallery #dogepile{
	margin-left: -265px;
	margin-top: -65px;
	height: 400px;
}

#rpsls{
	width: 300px;
}

.modal-header{
	margin: 0;
	background-color: #00274c;
	color: #ffffcc;
}
.modal .modal-footer {
	background-color: #00274c;
}

.modal-footer a{
	background-color: #00274c;
	border: 1px solid #fafafa;
	color: #ffffcc;
	font-size: 20px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.modal.modal-fixed-footer .modal-content{
	color: #00274c;
	border-radius: 0;
	border-top: 0;
	font-size: 20px;
	overflow: auto;
	height: calc(100% - 116px);
	/*margin-bottom: 56px;*/
	position: absolute;
	bottom: 56px;
}

.modal{
	border-radius: 5px;
}

.close-modal{
	position: absolute;
	left: 5px;
}

.modal-close{
	padding-left: 5px;
	padding-right: 5px;
}

.screengrab {
	border: 2px solid #00274c;
	border-radius: 5px;
	width: 400px;
	float: left;
}