
.standInLeft {
	background-color: blue;
	width: 290px;
	height:200px;
	margin-top: 20px;
	float: left;
	position: relative;
}

.standInRight {
	background-color: blue;
	width: 290px;
	height:200px;
	margin-top: 20px;
	float:right;
	position: relative;
}

.picLabel {
	width: 100%;
	height: auto;
	background-color: #4aaaa5;
	padding: 20px;
	color: #ffffff;
	font-family: georgia;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	margin-top: 130px;
	position: absolute;
}

.portfolioImage {
	margin: 0px;
}
