.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.frame {
	position: relative;
	height: 200px;
	width: 300px;
	overflow: hidden;
	margin-bottom: 20px;
	border: 2px solid #00274c;
	border-radius: 5px;
	padding: 0;
}

.frame p{
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #00274c;
	color: #FFFFCC;
	top: 140px;
	padding: 5px;
	font-size: 15px;
}

#gameofhangman{
	height: 200px;
}

#triviagame{
	height: 200px;
}

.gallery #dogepile{
	margin-left: -265px;
	margin-top: -65px;
	height: 400px;
}

#rpsls{
	width: 300px;
}

.modal-header{
	margin: 0;
	background-color: #00274c;
	color: #ffffcc;
}
.modal .modal-footer {
	background-color: #00274c;
}

.modal-footer a{
	background-color: #00274c;
	border: 1px solid #fafafa;
	color: #ffffcc;
	font-size: 20px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.modal.modal-fixed-footer .modal-content{
	color: #00274c;
	border-radius: 0;
	border-top: 0;
	font-size: 20px;
	overflow: auto;
	height: calc(100% - 116px);
	/*margin-bottom: 56px;*/
	position: absolute;
	bottom: 56px;
}

.modal{
	border-radius: 5px;
}

.close-modal{
	position: absolute;
	left: 5px;
}

.modal-close{
	padding-left: 5px;
	padding-right: 5px;
}

.screengrab {
	border: 2px solid #00274c;
	border-radius: 5px;
	width: 400px;
	float: left;
}