body {
	margin: 0px;
	background-image: url("../Images/ep_naturalwhite/ep_naturalwhite/ep_naturalwhite.png");
}

#fullHeader {
	background-color: #ffffff;
	margin: 0;
	width: 100%;
	border-bottom: 3px solid #cccccc;
	position: initial;
}

#headerContainer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	display: table;
}

#nameBlock {
	background-color: #4aaaa5;
	margin: 0px;
	display: inline-block;
	padding: 20px;
	color: #ffffff;
	font-family: georgia;
}

#linkBlock {
	position: absolute;
	right: 0;
	top: 35%;
	color: #777777;
	font-family: arial;
	padding: 0;
	margin: 0;
	display: table;
	text-align: center;
	vertical-align: middle;
}

#linkBlock li {
	display: inline;
	list-style: none;
	padding: 10px;
}

#container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

hr {
	border-color: #dddddd;
	margin-left: auto;
	margin-right: auto;
}

section {
	width: 610px;
	float: left;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	padding: 20px;
}

article p {
	color: #777777;
	font-family: arial;
}
section img {
	float:left;
	margin: 10px 10px 0px 0px;

}

section h1 {
	color: #4aaaa5;
	font-family: georgia;
	margin-top: 0px;
}

aside {
	float: right;
	width: 230px;
	text-align: center;
	color: #4aaaa5;
	font-family: georgia;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	padding: 20px;
}

aside h2 {
	margin-top: 0px;
}

aside ul {
	list-style-type: none;
	padding: 0;
}

aside ul li {
	display: inline;
}

aside ul li a {
	text-decoration: none;
}

.icon {
	width: 60px;
}

footer {
	clear: both;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	color: #ffffff;
	font-family: arial;
	font-size: 12px;
	padding: 20px;
}