/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");

#sidebar {
  background-color: #506296;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  /* height: 100vh; */
}

#logoBorder {
  margin: 10px -20px 0 10px;
  border-radius: 50%;
  background-color: #506296;
  min-width: 216px;
  min-height: 216px;
  display: flex;
  align-items: center;
  z-index: 0;
}

#templogo {
  margin: 10px -20px 0 10px;
  min-width: 216px;
  min-height: 216px;
  display: flex;
  align-items: center;
}

#nameLogo {
  z-index: 10;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px white solid;
  width: 194px;
  height: 194px;
  color: white;
  transform: rotate(350deg);
  transition: 500ms;
}

#nameLogo h1 {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Noto Serif", serif;
  font-size: 58px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 11px;
}

#nameLogo h1:first-child {
  margin-top: 25px;
}

#nameLogo h1:last-child {
  margin-top: -15px;
}

#menu {
  margin-top: 50px;
}

#copyright {
  color: white;
  display: flex;
  align-self: center;
  justify-self: flex-end;
}
