#workExpTotal {
  max-width: calc(100% - 224px);
  margin-left: 20px;
}

.titleAndDates {
  display: flex;
  justify-content: space-between;
}

.titleAndDates p {
  margin: 0;
}
.company {
  margin: 0;
}

.description {
  margin-top: 0;
  word-wrap: normal;
}

.oneLineList {
  list-style: none;
}
