.homeDisplay {
  &-intro {
    color: black;
    text-align: center;
    width: 100%;
    border-top: 3px solid $blue;
    border-bottom: 3px solid $blue;
    h1 {
      margin: 0;
    }
    &-background {
      position: absolute;
      left: 0;
      bottom: calc(100vh - 85%);
      width: 100vw;
      background-color: #fff;
    }
  }
}

.homeImages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 240px);
}

.filler {
  background-color: $blue;
  width: 10px;
  height: 450px;
}

@media only screen and (max-width: 1350px) {
  .homeDisplay {
    &-intro {
      &-background {
        left: 150px;
        width: calc(100vw - 150px);
      }
    }
  }
}
