.fullMenuItem {
  margin-top: 20px;
  &:hover .menuShadow {
    visibility: hidden;
  }
  &:hover .menuPointer {
    visibility: visible;
  }
}

.menuItem {
  width: 170px;
  color: white;
  margin-left: 20px;
  display: flex;
  height: 50px;
  transform: skew(0deg, -10deg);
}

.menuRibbon {
  font-size: 22px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.menuTail {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  &-green {
    border-bottom: 50px solid $green;
  }
  &-orange {
    border-bottom: 50px solid $orange;
  }
  &-yellow {
    border-bottom: 50px solid $yellow;
  }
  &-red {
    border-bottom: 50px solid $red;
  }
}

.menuShadow {
  width: 0;
  height: 0px;
  border-top: 4px solid transparent;
  border-left: 5px solid black;
  border-bottom: 9px solid transparent;
  position: relative;
  left: 150px;
}

.menuPointer {
  visibility: hidden;
  width: 0;
  height: 0;
  border-right: 35px solid transparent;
  &-green {
    border-top: 50px solid $green;
  }
  &-orange {
    border-top: 50px solid $orange;
  }
  &-yellow {
    border-top: 50px solid $yellow;
  }
  &-red {
    border-top: 50px solid $red;
  }
}
